*{
    margin: 0;
    padding: 5px;
        
}
ul{
    list-style: none;
    
}
/*insert dropbox js yellow hamburger*/
header{    
    padding:8px 8px;
    background-color: white;    
    display: flex;
    justify-content: space-between;
    
    /*position:fixed;
    /*color:#1d1d1d/*#50A0FB; /*#FFDC22;yellow*/
    
}
header img{
    width: 30%;
    height: auto;
    max-width: 180px;
}

.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 65px;
    width: 100%;
    background-color:#1d1d1d;/*#50A0FB;/*#a8a3a3;*/
    color:white;
    padding:3px 3px; 
    align-content: center;
    
}
.order{
    order:1;
}/* make Scheduling last so easier to touch on small screen*/
.lessons-img{
    width:110px;
    height:110px;
    padding-top: 20px;
}

body{
    font:normal 20px 'Roboto', arial, sans-serif;
    color: #1d1d1d;/*palegoldenrod;/*#ffd700;#FFDC22 yellow from picker -logo*/
    /*background-color: #1d1d1d; /* is Purdue background*/
    opacity: 0.9;
    text-align: left;
    background-color: white;
}
a{
    text-decoration: none;
    color:#50A0FB; /*rgb(37, 76, 102); /*#FFDC22; or yellow rgb(255, 145, 0);*/
    cursor: pointer;
    opacity: 0.9;
         
}
nav a{
    color:white;    
}
a:hover {
    opacity: 1;
}
.profile-pic{ 
    border: 2px solid #1d1d1d;/* lightskyblue;*/
    border-radius: 10%;
    width: 320px;
}

/*
hr{
    width: 150px;
    height: 2px;
    background-color: red;
    border:0;
    margin: 40px auto;
}*/
section{
    /*background-color: #333;*/
    padding: 125px 20px;
}
section p {
    max-width: 800px;
    text-align: left;
    margin-bottom: 35px;
    padding: 0 2px;
    line-height: 1.75;
}
section h3{
    
    color: #1d1d1d;/*lightblue;*/
    font: 24px 'Roboto', arial, sans-serif;
    padding: 5px;
    
}
.appointment-ul{
    list-style: disc;
    font-size: 21px;

}
section h2{
    color:#1d1d1d; /*lightskyblue;*/
    font-style:'Roboto', arial, sans-serif;
    font-size: 32px;
}
.name{
    text-align: left;
    padding-left: 150px;
}

div {
    display: flex;
    flex-direction: row;
    padding: 5px 1px;
}

div a {
   
    font-size: 25px;
    color:#50A0FB;/*royalblue; for app store icons*/
}
.nav-toggle-bar{
    color: #1d1d1d;
    font-size: 44px;
    
}

h4{
    padding-bottom: 8px;
}
.best {
    font-style: italic;
}
.lessons{
    color:#1d1d1d;/*#50A0FB; blue inside best of lesson*/
    padding-left: 10px;
    width:200px;
    height:auto;
    font-size: 30px;   
}

.btn{
    
    display: inline-block;
    padding: 9px .5em 5px;
    background-color: goldenrod;
    border: 0 10.1em solid rgba(22, 20, 20, .9);
    color:#1d1d1d;
    
    font-size: 34px;
    border-radius: 1.5em;
    text-decoration: none;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    align-items: center;
    
}
.btn:hover{
    border-color: rgb(255,255,255,1);
}
/*////form and label*/
form {
    margin: 1rem;
    max-width: 25rem;
    border-style: solid;
    border-width: 3px;
    position:relative;
    padding: .5rem 2rem;
}
       
    label {
        display: block;
        padding: rem 0;
        }
    
    
    .myInput, textarea{
        display: block;
        font-size: 1rem;
        padding: .75rem;
        background-color: #f6f6f6;
        border: 1px solid #bba;
        margin-top: .2rem;
        width:100%;
       
    }
    textarea{
        min-height: 2rem;
    }
    section p{
        display: none;
    }
    section div {
        color: #777;
        font-size: .9 rem;
        padding: .3rem 0 .1rem .2rem;
        margin-top:2rem;
        
    }
    section h3{
        font:larger;
        text-decoration: underline;
                
    }
    .sbs{
        display:flex;
        flex-shrink: inherit;
        max-width: 600px;
    } 
    /*Additional details to fill out each input correctly (hidden by default)*/
   
    section span {        
        display: none;
   }
    section label.error span {
        display: block;
        font-size: .8rem;
        color: #c20000;
        padding-left: .5rem;
    }
    
    section .error span {
        display: block;
        font-size: .8rem;
        color: #c20000;
        padding-left: .5rem;
    }
    
    /* error instructions */
    section p {display:none;}
    section.error p {
        display:block;
        border:solid 1 px #F00;
        background-color: rgba(255,0,0,.3);
        padding: .5rem .3rem;
    }
    
    .submitBtn{
        border: none;
        color:white;
        background-color:rgb(3, 78, 100);
        font-size: 1.5rem;
        font-weight: normal;
        padding: .4rem 1rem;
        border-radius:  1rem;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
    }   
    
    /*///end label*/
    input  {
        border: none;
        background-color: #e4d8d8;
        color: black;
        font-size: 1.5rem;
        font-weight: normal;
        padding: .4rem 1rem;
        border-radius: 1rem;
        width: 85%;
    }
    
    .facilityPic{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .facilityPic img{
        margin-top: 8px;
        vertical-align: middle;
        width:20rem;
        height: auto;
    }
    /* grid container*/

    .instructors{
        grid-area: instructors;
    }
    .form-left{
        grid-area: sidebar;
    }
    .apps-left{
        grid-area: scheduling;
    }
    .facility-right{
        grid-area: facility;
    }
    .test-right{
        grid-area: test;
    }
    .bio{
        grid-area: bio;
    }
    .wrapper{
        display: grid;
        gap: 20px;
        grid-template-areas: 
            "instructors"
            "sidebar"
            "scheduling"
            "facility"
            "test";
    }
        
     
/*tablet screen*/

@media screen and (min-width: 501px){
   
    section{
        padding: 20px 20px;
    }
    .top {
        display: flex;
        flex-direction: row;
    }
    .nav-toggle-bar{
    display: none;
    }
    /*.facilityPic  {
        display:flex;
        flex-direction: row;
        flex-basis: 250px;
        flex-wrap: wrap-reverse;
        width:120px;
    }*/
    .facilityPic {
        display:flex;
        flex-wrap: wrap;
        flex: 70%;        
        flex-direction: row;
        
    }
    /*.facilityPic img{
        width:15%;
        height:auto;
    }*/
   
    .facilityPic img{
        margin-top: 8px;
        width:16rem;
        height: auto;
    }
    .horizontal  {
        width: 15rem;
        max-height: 14rem;
    }
} 
/* end media tablet*/
/* large*/
@media screen and (min-width: 801px){
   
    section{
        padding: 100px 50px;
    }
    .top {
        color: yellow;
        height: 60px;
    }
    
    
      
    
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
        "instructors bio"
        "sidebar facility"
        "scheduling scheduling"
        "test test"; 
    }
    .facilityPic {
        
        display:flex;
        flex-wrap:wrap;
        max-width: 25%;
        max-height: 90%;
        
    }
    .bio p {display:contents}

}
   
/*end large*/
    
   

/*phone*/
@media screen and  (max-width: 500px){
    
    section{
        padding: 25px 25px;
    }
    .nav {
        flex-direction: column;
       display: none;
    }
    .expanded{display: flex;
        flex-direction: column;

    }
    .store-links {
        flex-wrap:wrap;
    }
    .store-links i{
        font-size: 55px;
    }
    .profile-pic{ 
       width: 300px;
    }
    .facilityPic {
        display: flex;
        flex-direction: column;
        
    }
    

}/*end of small media*/

/*ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
boxes of pic to wide 2 column for facility*/ 
footer{
    display:flex;
    flex-direction: column;
    background-color: #1d1d1d;
    padding: 60px 0;
    text-align: center;
    align-items: center;
}
footer ul{
    display: flex;
    flex-direction: row;  
    margin-bottom: 25px;
    font-size: 42px;   
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255,255,255,.6);
    margin-bottom: 10px;
}

/*footer a{                      why is footer messing up as screen expands?
    color: #fff;
    display: flex;
    flex-direction: row;
}

/*.contact .content{
    padding-left: 0;
    text-align: left;
    color:white;
    width: 350px;
    height:auto;
    background-color: tomato;
}*/

/*--------------
HEADER
--------------*/
